@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Regla para quitar la barra de scroll fea en Chrome/Safari */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Animaciones suaves para el cambio de tema */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}