@import "tailwindcss";
@config "../tailwind.config.js";  /* <--- EL CAMBIO: "../" significa "una carpeta atrás" */

@theme {
  --color-primary: #4f46e5;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Ocultar scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}